<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
            <title>
                客户关系管理系统
            </title>
            <script th:src="@{/js/jquery-1.8.3.min.js}">
            </script>
            <script th:src="@{/bootstrap/js/bootstrap.js}">
            </script>
            <script th:src="@{/bootstrap/js/bootstrap-table.js}">
            </script>
            <script th:src="@{/js/jquery.nicescroll.js}">
            </script>
            <script th:src="@{/laydate/laydate.js}">
            </script>
            <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
            <link th:href="@{/css/default.css}" rel="stylesheet"/>
            <link th:href="@{/css/chance.css}" rel="stylesheet"/>
            <script th:src="@{/js/default.js}">
            </script>
            <script th:src="@{/js/chance.js}">
            </script>
        </meta>
    </head>
    <body>
        <div class="filterPop dnone" style="font-size: 14px;">
            <div class="shelter">
            </div>
            <div class="filtermain">
                <h4>
                    高级筛选
                    <span class="fright cancel">
                        X
                    </span>
                </h4>
                <form class="addNew" action="/cstChance/getCstChanceTo/1/10">
                    <label for="name">
                        <input type="hidden" name="userId" value="1"/>
                        <span>客户名称</span>
                        <input id="name" name="custCompany" type="text"/>
                    </label>
                    <label>
                        <span>阶段</span>
                        <select name="chStage" >
                            <option value="" selected="selected">请选择阶段</option>
                            <option th:each="cstChance:${cstChancePage.List}" th:value="${cstChance.chStage}"><p th:text="${cstChance.chStage}"></p></option>
                        </select>
                    </label>
                    <label>
                        <span>机会简述</span>
                        <input type="text" name="chContent" />
                    </label>
                    <label>
                        <span>客户类型</span>
                        <select name="custType">
                            <option value="" selected="selected">请选择客户类型</option>
                            <option th:each="cstChance:${cstChancePage.List}" th:value="${cstChance.chCustomer.custClassify}"><p th:text="${cstChance.chCustomer.custClassify}"></p></option>
                        </select>
                    </label>
                    <label>
                        <span>生命周期</span>
                        <select name="custLifecycle">
                            <option value="" selected="selected">请选择客户生命周期</option>
                            <option th:each="cstChance:${cstChancePage.List}" th:value="${cstChance.chCustomer.custLifecycle}"><p th:text="${cstChance.chCustomer.custLifecycle}"></p></option>
                        </select>
                    </label>
                    <label>
                        <span>客户地址</span>
                        <input name="custAddress" type="text"/>
                    </label>
                    <label>
                        <span>标签</span><img th:src="@{/img/add_grey.png}" class="fr" alt="" />
                    </label>
                   <label>
                        <span>联系人名字</span>
                        <input type="text" name="linkName"/>
                    </label>
                    <label>
                        <span>联系人手机</span>
                        <input type="text" name="linkPhone"/>
                    </label>
                    <label>
                        <span>联系人固话</span>
                        <input type="text" name="linkLandlinePhone"/>
                    </label>
                    <label>
                        <span>联系人邮箱</span>
                        <input type="text" name="linkEmail" />
                    </label>
                    <label>
                        <span>联系人QQ</span>
                        <input type="text" name="linkQq"/>
                    </label>
                    <label>
                        <span>客户行业</span>
                        <input type="text" name="custIndustry"/>
                    </label>
                    <div class="btngroup">
                        <input class="sure" type="submit" value="确定"/>
                        <input class="cancel" type="button" value="取消"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="leftContent">
            <div class="logo">
                <img alt="logo" th:src="@{/img/logo.png}"/>
                <span class="logoTxt">
                    润普CRM
                </span>
            </div>
            <ul>
                <li>
                    <a href="index.html">
                        <img alt="首页" th:src="@{/img/index.png}"/>
                        <span class="navTxt">
                            首页
                        </span>
                    </a>
                </li>
                <li>
                    <a href="seas.html">
                        <img alt="公海" th:src="@{/img/seas.png}"/>
                        <span class="navTxt">
                            公海
                        </span>
                    </a>
                </li>
                <li class="active">
                    <!--<a href="@{'/cstChance/getCstChance/'+${userId}+'/'+${currentPage}+'/'+${pageSize}}"></a>-->
                   <!-- <a th:href="@{/cstChance/getCstChance/1/1/10}">-->
                        <img alt="机会" th:src="@{/img/chance.png}"/>
                        <span class="navTxt">
                            机会
                        </span>

                </li>
                <li>
                    <img alt="合同" th:src="@{/img/contract.png}"/>
                    <span class="navTxt">
                        合同
                    </span>
                </li>
                <li>
                    <img alt="财务" th:src="@{/img/financial.png}"/>
                    <span class="navTxt">
                        财务
                    </span>
                </li>
                <li>
                    <img alt="支持" th:src="@{/img/support.png}"/>
                    <span class="navTxt">
                        支持
                    </span>
                </li>
                <li>
                    <img alt="设置" th:src="@{/img/setting.png}"/>
                    <span class="navTxt">
                        设置
                    </span>
                </li>
            </ul>
        </div>
        <div class="rightContent">
            <div class="header">
                <div>
                    <input placeholder="请输入客户名称" type="text"/>
                    <button>
                        <img alt="" th:src="@{/img/searchIcon.png}"/>
                    </button>
                    <div class="mail">
                        <span class="msgNum">
                            1
                        </span>
                        <div>
                            <ul>
                                <li>
                                    <a href="">
                                        聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        聂宇豪创建了新
                                    </a>
                                </li>
                            </ul>
                            <p class="lookMore">
                                <a class="grey" href="">
                                    查看更多
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="user">
                        <span class="userName">
                            聂宇豪
                        </span>
                        <span class="xiala">
                            <img th:src="@{/img/xiala.png}"/>
                        </span>
                        <ul class="detail">
                            <li>
                                <a href="">
                                    个人资料
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    系统设置
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    退出
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main">
                <div>
                    <div class="chanceHeader">
                        <div class="fleft">
                            <div class="tag">
                                我的机会
                                <ul class="dnone">
                                    <li>
                                        <a th:href="@{/cstChance/getCstChance/1/1/10}" style="color: #7460ee;">
                                            我的机会
                                        </a>
                                    </li>
                                    <!--<li>
                                        <a th:href="">
                                            全部机会
                                        </a>
                                    </li>-->
                                    <li>
                                        <a th:href="@{/cstChance/getCstChanceUserId/1/1/10}">
                                            机会转交
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <p class="customerNum">
                                <span th:text="${cstChancePage.recTotal}">

                                </span>
                                条客户信息
                            </p>
                        </div>
                        <div class="fright">
                            <button class="filter">
                                <img th:src="@{/img/filter.png}"/>
                                筛选
                            </button>
                            <button>
                                <a th:href="@{/cstChance/getCstCustomer/1}">
                                    <img th:src="@{/img/addCustomer.png}"/>
                                    新建机会
                                </a>
                            </button>
                            <button class="moreOperate">
                                · · ·
                            </button>
                        </div>
                    </div>
                    <div class="allOperate dnone">
                        <label class="forCheckbox">
                            <input type="checkbox"/>
                        </label>
                        <button class="delete">
                            <img th:src="@{/img/delete.png}"/>
                            删除
                        </button>
                        <button class="edit">
                            <img th:src="@{/img/edit.png}"/>
                            编辑
                        </button>
                        <button>
                            <img th:src="@{/img/chancePurple.png}"/>
                            转交机会
                        </button>
                    </div>
                    <div class="chanceContent">
                        <table class="table table-hover" id="table">
                            <thead>
                                <tr>
                                    <th data-field="select" style="">
                                        <div class="th-inner ">
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="client" data-field="client" style="">
                                        <div class="th-inner ">
                                            客户
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="jihuifuzeren" data-field="jihuifuzeren" style="">
                                        <div class="th-inner ">
                                            机会负责人
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="stage" data-field="stage" style="">
                                        <div class="th-inner ">
                                            阶段
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="follow" data-field="follow" style="width: 601px;">
                                        <div class="th-inner ">
                                            上次跟进
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th data-field="operate" style="">
                                        <div class="th-inner ">
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="cstChance:${cstChancePage.List}" th:data-index="${cstChance.chId}">
                                    <input type="hidden" th:value="${cstChance.chId}"/>
                                    <td style="">
                                        <label class="forCheckbox">
                                            <input type="checkbox"/>
                                        </label>
                                    </td>
                                    <td class="client" style="">
                                        <p th:text="${cstChance.chCustomer.custCompany}">
                                        </p>
                                    </td>
                                    <td class="jihuifuzeren" style="">
                                        <p th:text="${cstChance.sysUser.userName}">
                                        </p>
                                    </td>
                                    <td class="stage" style="">
                                        <p th:text="${cstChance.chStage}">
                                        </p>

                                    </td>
                                    <td class="follow" style="width: 601px;">
                                        <p th:text="${cstChance.recordList[0].reContent}">

                                        </p>
                                        <p class="createTime" th:text="${cstChance.recordList[0].reDate}">
                                        </p>
                                    </td>
                                    <td style="">
                                        <p class="modify">
                                            · · ·
                                        </p>
                                        <ul class="slideEdit">
                                            <li>
                                                <a class="update" th:href="@{'/cstChance/getCstChanceId/'+${cstChance.chId}}" mce_href="#">
                                                    编辑
                                                </a>
                                            </li>
                                            <li>
                                                <a class="delete" th:href="@{'/cstChance/deleteCstChance/'+${cstChance.chId}+'/1/'+${cstChancePage.currentPage}+'/'+${cstChancePage.pageSize}}" mce_href="#">
                                                    删除
                                                </a>
                                            </li>
                                            <li>
                                                <a class="referral" href="#" mce_href="#">
                                                    转交
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="fixed-table-pagination">
                            <div class="pull-left pagination-detail">
                                <span class="pagination-info">
                                    Showing 1 to 10 of 78 rows
                                </span>
                                <span class="page-list">
                                    <span class="btn-group dropup">
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                            <span class="page-size">
                                                10
                                            </span>
                                            <span class="caret">
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="active" role="menuitem">
                                                <a href="#">
                                                    10
                                                </a>
                                            </li>
                                            <li role="menuitem">
                                                <a href="#">
                                                    25
                                                </a>
                                            </li>
                                            <li role="menuitem">
                                                <a href="#">
                                                    50
                                                </a>
                                            </li>
                                            <li role="menuitem">
                                                <a href="#">
                                                    100
                                                </a>
                                            </li>
                                        </ul>
                                    </span>
                                    rows per page
                                </span>
                            </div>
                            <div class="fixed-table-pagination">
                                <div class="pull-right pagination">
                                    <ul class="pagination">
                                        <li class="page-first"><a th:href="@{/cstChance/getCstChance/1/1/10}">首页</a></li>
                                        <li class="page-pre"><a th:href="@{'/cstChance/getCstChance/1/'+${((cstChancePage.currentPage-1) le 0?1:(cstChancePage.currentPage-1))}+'/'+${cstChancePage.pageSize}}">上一页</a></li>
                                        <li class="page-number" th:each="arr:${arrList}"><a th:href="@{'/cstChance/getCstChance/1/'+${arr}+'/'+${cstChancePage.pageSize}}" th:text="${arr}" ></a></li>
                                        <li class="page-next"><a th:href="@{'/cstChance/getCstChance/1/'+${((cstChancePage.currentPage+1) ge (cstChancePage.totalPage)?(cstChancePage.totalPage):(cstChancePage.currentPage+1))}+'/'+${cstChancePage.pageSize}}">下一页</a></li>
                                        <li class="page-last"><a th:href="@{'/cstChance/getCstChance/1/'+${cstChancePage.totalPage}+'/'+${cstChancePage.pageSize}}">尾页</a></li>
                                    </ul>
                                    <div class="jump">
                                        <label>调转
                                            <select>
                                                <option th:each="arr:${arrList}" th:value="${arr}"><a th:href="@{'/cstChance/getCstChance/1/'+${arr}+'/'+${cstChancePage.pageSize}}" th:text="${arr}"></a></option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
        </div>
    </body>
</html>