<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>客户关系管理系统</title>
	<script th:src="@{/js/jquery-1.8.3.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/js/jquery.nicescroll.js}"></script>
	<script th:src="@{/js/default.js}" th:inline="javascript"></script>
	<script th:src="@{/js/editCustomer.js}"></script>
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/css/default.css}" />
	<link rel="stylesheet" th:href="@{/css/addNewCustomer.css}" />
	<script th:src="@{/js/addNewCustomer.js}"></script>
</head>
<body>
	<div class="leftContent">
		<div class="logo">
			<img src="img/logo.png" alt="logo" />
			<span class="logoTxt">润普CRM</span>
		</div>
		<ul>
			<li><a href="/crm/cstCustomer/toIndex"><img th:src="@{/img/index.png}" alt="首页" /><span class="navTxt">首页</span></a></li>
			<li class="active"><a href="/crm/cstCustomer/getPage/1/7"><img th:src="@{/img/seas.png}" alt="公海" /><span class="navTxt">公海</span></a></li>
			<li><a href="chance.html"><img th:src="@{/img/chance.png}" alt="机会" /><span class="navTxt">机会</span></a></li>
			<li><img th:src="@{/img/contract.png}" alt="合同" /><span class="navTxt">合同</span></li>
			<li><img th:src="@{/img/financial.png}" alt="财务" /><span class="navTxt">财务</span></li>
			<li><img th:src="@{/img/support.png}" alt="支持" /><span class="navTxt">支持</span></li>
			<li class="settitemdisplay" style="display:none"><img th:src="@{/img/setting.png}" alt="设置" /><span class="navTxt">设置</span></li>
		</ul>
	</div>
	<div class="rightContent">
		<div class="header">
			<div>
				<div class="mail">
					<span class="msgNum">1</span>
					<div>
						<ul>
							<li><a href="">聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊</a></li>
							<li><a href="">聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊</a></li>
							<li><a href="">聂宇豪创建了新</a></li>
						</ul>
						<p class="lookMore"><a href="" class="grey">查看更多</a></p>
					</div>
				</div>
				<div class="user">
					<span class="userName"></span>
					<span class="xiala"><img src="img/xiala.png" /></span>
					<ul class="detail">
						<li><a class="personData">个人资料</a></li>
						<li><a class="systemSetting">系统设置</a></li>
						<li><a class="loginOut">退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main">
			<div style="background: #fff">
				<h4>基本信息
					<span>操作 <img th:src="@{/img/xialaPurple.png}" />
						<ul>
							<li class="editMsg">编辑</li>
						</ul>
					</span>
				</h4>
				<form class="editMsgForm" id="editMsgForm" action="/crm/cstCustomer/editCustomerById">
					<label for="companyName">公司名称&emsp;<input type="text" id="companyName" th:value="${cstCustomer.custCompany}" disabled="disabled" name="custCompany"/></label>
					<label for="contactName">联系人名称<input type="text" id="contactName" th:value="${cstCustomer.linkmanList[0].linkName}" disabled="disabled" name="linkName" /></label>
					<label for="mobilephone">移动电话&emsp;<input type="text" id="mobilephone" th:value="${cstCustomer.linkmanList[0].linkPhone}" disabled="disabled" name="linkPhone"/></label>
					<label for="telephone">固定电话&emsp;<input type="text" id="telephone" th:value="${cstCustomer.linkmanList[0].linkLandlinePhone}" disabled="disabled" name="linkLandlinePhone"/></label>
					<label for="mail">QQ/邮箱&emsp;<input type="text" id="mail" th:value="${cstCustomer.linkmanList[0].linkEmail}" disabled="disabled" name="linkEmail"/></label>
					<label for="province">所在省份&emsp;<input type="text" id="province" th:value="${cstCustomer.custAddress}" disabled="disabled" name="custAddress"/></label>
					<label for="createTime">创建时间&emsp;<input type="text" id="createTime" th:value="${cstCustomer.revertDate}" disabled="disabled" name="custDateStr"/></label>
					<input type="hidden" th:value="${cstCustomer.userId}" name="userId"/>
					<input type="hidden" th:value="${cstCustomer.custId}" name="custId"/>

					<input type="button" class="save dnone" value="保存" id="saveEditCustomer"/>
					<input type="button" class="cancel dnone" value="取消" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>