<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"></meta>
	<title>首页</title>
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	
	<link rel="stylesheet" href="/static/css/bootstrap.css"></link>
	<script src="/static/js/bootstrap.js"></script>
	
	<script src="/static/js/jquery.nicescroll.js"></script>
	<link rel="stylesheet" href="/static/css/default.css"></link>
	<link rel="stylesheet" href="/static/css/index.css"></link>
	<script src="/static/js/index.js"></script>
</head>
<body>
<img src="D:/workspace/crm/src/main/resources/static/img/delete.png"></img>
	<div class="leftContent">
		<div class="logo">
			<img src="/static/img/logo.png" alt="logo"></img>
			<span class="logoTxt">润普CRM</span>
		</div>
		<ul>
			<li class="active"><img src="/static/img/index.png" alt="首页"></img><span class="navTxt">首页</span></li>
			<li><img src="/static/img/seas.png" alt="公海"></img><span class="navTxt">公海</span></li>
			<li><img src="/static/img/chance.png" alt="机会"></img><span class="navTxt">机会</span></li>
			<li><img src="/static/img/contract.png" alt="合同"></img><span class="navTxt">合同</span></li>
			<li><img src="/static/img/financial.png" alt="财务"></img><span class="navTxt">财务</span></li>
			<li><img src="/static/img/support.png" alt="支持"></img><span class="navTxt">支持</span></li>
			<li><img src="/static/img/setting.png" alt="设置"></img><span class="navTxt">设置</span></li>
		</ul>
	</div>
	<div class="rightContent">
		<div class="header">
			<div>
				<input type="text" placeholder="请输入客户名称"></input>
				<button><img src="/static/img/searchIcon.png" alt=""></img></button>
				<div class="mail">
					<span class="msgNum">1</span>
					<div>
						<ul>
							<li><a href="">聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊</a></li>
							<li><a href="">聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊</a></li>
							<li><a href="">聂宇豪创建了新</a></li>
						</ul>
						<p class="lookMore"><a href="" class="grey">查看更多</a></p>
					</div>
				</div>
				<div class="user">
					<span class="userName">聂宇豪</span>
					<span class="xiala"><img src="/static/img/xiala.png"></img></span>
					<ul class="detail">
						<li><a href="">个人资料</a></li>
						<li><a href="">系统设置</a></li>
						<li><a href="">退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="dynamic">
				<div class="dynamicHeader">
					<ul>
						<li class="allDynamic active">全部动态</li>
						<li class="aboutChance">机会相关</li>
					</ul>
				</div>
				<div class="dynamicContent">
					<ul>
						<li>
							<div>
								<span class="icon"><img src="/static/img/chanceIcon.png" alt=""></img></span>
								<div class="msg">
									<p class="employee">聂宇豪<span class="career">（销售人员）</span></p>
									<p class="addWhat grey">添加了机会：<span class="description">广州润普网络科技有限公司：文档管理</span></p>
								</div>
								<span class="addTime">08/23 16:30</span>
							</div>
						</li>
						<li>
							<div>
								<span class="icon"><img src="/static/img/chanceIcon.png" alt=""></img></span>
								<div class="msg">
									<p class="employee">聂宇豪<span class="career">（销售人员）</span></p>
									<p class="addWhat grey">添加了合同：<span class="description">201708220001</span></p>
								</div>
								<span class="addTime">08/23 16:30</span>
							</div>
						</li>
						<li>
							<div>
								<span class="icon"><img src="/static/img/financialIcon.png" alt=""></img></span>
								<div class="msg">
									<p class="employee">聂宇豪<span class="career">（销售人员）</span></p>
									<p class="addWhat grey">添加了合同：<span class="description">201708220001</span></p>
								</div>
								<span class="addTime">08/23 16:30</span>
							</div>
						</li>
						<li>
							<div>
								<span class="icon"><img src="/static/img/contractIcon.png" alt=""></img></span>
								<div class="msg">
									<p class="employee">聂宇豪<span class="career">（销售人员）</span></p>
									<p class="addWhat grey">添加了合同：<span class="description">201708220001</span></p>
								</div>
								<span class="addTime">08/23 16:30</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="daily">
				<div class="dailyHeader">今天<span>( 5/6 )</span></div>
				<div class="dailyContent">
					<ul>
						<li>
							<label>
									<input type="checkbox" name="complete" id=""></input>
							</label>
							<div>
								<p>早上9点打电话给联通客服</p>
								<span class="aboutChance grey">关联机会：xxxxxxxx</span>
								<span class="createTime red dblock">1天前</span>
							</div>
							<p class="operate">
								<span class="edit"><img src="/static/img/edit.png" alt=""></img></span>
								<span class="del"><img src="/static/img/delete.png" alt=""></img></span>
							</p>
						</li>
						<li>
							<label>
									<input type="checkbox" name="complete" id=""></input>
							</label>
							<div>
								<p>早上9点打电话给联通客服</p>
								<span class="aboutChance grey">关联机会：xxxxxxxx</span>
								<span class="createTime red dnone"></span>
							</div>
							<p class="operate">
								<span class="edit"><img src="/static/img/edit.png" alt=""></img></span>
								<span class="del"><img src="/static/img/delete.png" alt=""></img></span>
							</p>
						</li>
						<li>
							<label>
									<input type="checkbox" name="complete" id=""></input>
							</label>
							<div>
								<p>早上9点打电话给联通客服</p>
								<span class="aboutChance grey">关联机会：xxxxxxxx</span>
								<span class="createTime red dnone"></span>
							</div>
							<p class="operate">
								<span class="edit"><img src="/static/img/edit.png" alt=""></img></span>
								<span class="del"><img src="/static/img/delete.png" alt=""></img></span>
							</p>
						</li>
						<li>
							<label>
									<input type="checkbox" name="complete" id=""></input>
							</label>
							<div>
								<p>早上9点打电话给联通客服</p>
								<span class="aboutChance grey">关联机会：xxxxxxxx</span>
								<span class="createTime red dnone"></span>
							</div>
							<p class="operate">
								<span class="edit"><img src="/static/img/edit.png" alt=""></img></span>
								<span class="del"><img src="/static/img/delete.png" alt=""></img></span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>