<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>
            客户关系管理系统
        </title>
        <script th:src="@{/js/jquery-1.8.3.min.js}">
        </script>
        <script th:src="@{/bootstrap/js/bootstrap.js}">
        </script>
        <script th:src="@{/js/jquery.nicescroll.js}">
        </script>
        <script th:src="@{/js/default.js}">
        </script>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/css/default.css}"/>
        <link rel="stylesheet" th:href="@{/css/addNewCustomer.css}"/>
        <script th:src="@{/js/setting.js}">
        </script>
    </head>
    <body class="personMsg" onload="personMsg()">
        <div class="leftContent">
            <div class="logo">
                <img alt="logo" th:src="@{/img/logo.png}"/>
                <span class="logoTxt">
                    润普CRM
                </span>
            </div>
            <ul>
                <li>
                    <a th:href="@{/getTaskListByUserId}">
                        <img alt="首页" th:src="@{/img/index.png}"/>
                        <span class="navTxt">
                            首页
                        </span>
                    </a>
                </li>
                <li class="">
                    <a href="/crm/cstCustomer/getPage/1/7">
                        <img alt="公海" th:src="@{/img/seas.png}"/>
                        <span class="navTxt">
                            公海
                        </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/cstChance/getCstChance/1/10}">
                        <img alt="机会" th:src="@{/img/chance.png}"/>
                        <span class="navTxt">
                            机会
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <img alt="合同" th:src="@{/img/contract.png}"/>
                        <span class="navTxt">
                            合同
                        </span>
                    </a>
                </li>
                <li>
                    <img alt="财务" th:src="@{/img/financial.png}"/>
                    <span class="navTxt">
                        财务
                    </span>
                </li>
                <li>
                    <img alt="支持" th:src="@{/img/support.png}"/>
                    <span class="navTxt">
                        支持
                    </span>
                </li>
                <li class="settitemdisplay">
                    <a href="/crm/sysUser/getSysUserList/1/10">
                        <img alt="设置" th:src="@{/img/setting.png}"/>
                        <span class="navTxt">
                            设置
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="rightContent">
            <div class="header">
                <div>
                    <div class="mail">
                        <span class="msgNum">
                            1
                        </span>
                        <div>
                            <ul>
                                <li>
                                    <a href="">
                                        聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        聂宇豪创建了新
                                    </a>
                                </li>
                            </ul>
                            <p class="lookMore">
                                <a class="grey" href="">
                                    查看更多
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="user">
                        <span class="userName">
                            聂宇豪
                        </span>
                        <span class="xiala">
                            <img th:src="@{/img/xiala.png}"/>
                        </span>
                        <ul class="detail">
                            <li>
                                <a class="personData">
                                    个人资料
                                </a>
                            </li>
                            <li>
                                <a href="/crm/sysUser/getSysUserList/1/10">
                                    系统设置
                                </a>
                            </li>
                            <li>
                                <a class="loginOut">
                                    退出
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main">
                <div style="background: #fff">
                    <h4>
                        个人资料
                        <span>
                            操作
                            <img th:src="@{/img/xialaPurple.png}"/>
                            <ul>
                                <li class="editMsg">
                                    编辑
                                </li>
                            </ul>
                        </span>
                    </h4>
                    <form action="/crm/sysUser/eiditPersonData" class="editMsgForm">
                        <label for="name">
                            <span>
                                姓名
                            </span>
                            <input disabled="disabled" id="name" name="userName" th:value="${sysUser.userName}" type="text"/>
                        </label>
                        <label for="bumen">
                            <span>
                                部门
                            </span>
                            <input disabled="disabled" id="bumen" name="userDepartment" th:value="${sysUser.userDepartment}" type="text"/>
                        </label>
                        <label for="gangwei">
                            <span>
                                岗位
                            </span>
                            <input disabled="disabled" id="gangwei" name="userPosition" th:value="${sysUser.userPosition}" type="text"/>
                        </label>
                        <label for="mail">
                            <span>
                                邮箱
                            </span>
                            <input disabled="disabled" id="mail" name="userEmail" th:value="${sysUser.userEmail}" type="text"/>
                        </label>
                        <label for="mobile">
                            <span>
                                手机号码
                            </span>
                            <input disabled="disabled" id="mobile" name="userPhone" th:value="${sysUser.userPhone}" type="text"/>
                        </label>
                        <label for="tel">
                            <span>
                                办公号码
                            </span>
                            <input disabled="disabled" id="tel" name="userWorkphone" th:value="${sysUser.userWorkphone}" type="text"/>
                        </label>
                        <label for="psd">
                            <span>
                                当前密码
                            </span>
                            <input disabled="disabled" id="psd" name="userPassword" th:value="${sysUser.userPassword}" type="password"/>
                        </label>
                        <div class="btngroup dnone">
                            <input class="save" id="personDataSave" type="submit" value="保存"/>
                            <input class="cancel" type="reset" value="取消"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>