<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
            <title>
                客户关系管理系统
            </title>
            <script th:src="@{/js/jquery-1.8.3.min.js}">
            </script>
            <script th:src="@{/bootstrap/js/bootstrap.js}">
            </script>
            <script th:src="@{/bootstrap/js/bootstrap-table.js}">
            </script>
            <script th:src="@{/js/simpleAlert.js}">
            </script>
            <script th:src="@{/js/jquery.nicescroll.js}">
            </script>
            <script th:src="@{/laydate/laydate.js}">
            </script>
            <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
            <link rel="stylesheet" th:href="@{/css/default.css}"/>
            <link rel="stylesheet" th:href="@{/css/refferal.css}"/>
            <script th:src="@{/js/default.js}">
            </script>
            <script th:src="@{/js/refferal.js}">
            </script>
        </meta>
    </head>
    <body style="overflow: hidden; ">
        <!--         <div class="chehuiPop dnone">
            <div class="shelter">
            </div>
            <div class="chehuiMain">
                <svg class="cancel" viewbox="0 0 20 20">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                    </path>
                </svg>
                <p>
                    是否撤回？
                </p>
                <div class="btngroup">
                    <input class="sure" type="button" value="是"/>
                    <input class="cancel" type="button" value="否"/>
                </div>
            </div>
        </div> -->
        <div class="shenpiPop dnone">
            <div class="shelter">
            </div>
            <div class="shenpiMain">
                <svg class="cancel" viewbox="0 0 20 20">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                    </path>
                </svg>
                <p>
                    是否通过审批？
                </p>
                <div class="btngroup">
                    <input class="yes" type="button" value="通过"/>
                    <input class="no" type="button" value="不通过"/>
                </div>
            </div>
        </div>
        <div class="zhuanjiao dnone">
            <div class="shelter">
            </div>
            <div class="zhuanjiaoMain">
                <h4>
                    客户转交
                    <svg class="cancel" viewbox="0 0 20 20">
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                        </path>
                    </svg>
                </h4>
                <form action="/crm/cstChance/addChance/1/10">
                    <label>
                        原始负责人
                        <input name="userId" type="text"/>
                    </label>
                    <label>
                        新负责人
                        <input name="userToId" type="text"/>
                    </label>
                    <div class="stageSelect">
                        <p>
                            阶段选择
                        </p>
                        <ul>
                            <li>
                                <label class="forCheckbox">
                                    <input name="chStage" type="checkbox" value="初期沟通"/>
                                </label>
                                初期沟通
                            </li>
                            <li>
                                <label class="forCheckbox">
                                    <input name="chStage" type="checkbox" value="理想评估"/>
                                </label>
                                理想评估
                            </li>
                            <li>
                                <label class="forCheckbox">
                                    <input name="chStage" type="checkbox" value="需求分析"/>
                                </label>
                                需求分析
                            </li>
                            <li>
                                <label class="forCheckbox">
                                    <input name="chStage" type="checkbox" value="方案制定"/>
                                </label>
                                方案制定
                            </li>
                            <li>
                                <label class="forCheckbox">
                                    <input name="chStage" type="checkbox" value="竞标中"/>
                                </label>
                                竞标中
                            </li>
                            <li>
                                <label class="forCheckbox">
                                    <input name="chStage" type="checkbox" value="商务谈判"/>
                                </label>
                                商务谈判
                            </li>
                            <li>
                                <label class="forCheckbox">
                                    <input name="chStage" type="checkbox" value="合同签订"/>
                                </label>
                                合同签订
                            </li>
                        </ul>
                    </div>
                    <div class="btngroup">
                        <input class="sure" type="submit" value="确定"/>
                        <input class="cancel" type="button" value="取消"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="filterPop dnone" style="font-size: 14px;">
            <div class="shelter">
            </div>
            <div class="filtermain">
                <h4>
                    高级筛选
                    <svg class="cancel" viewbox="0 0 20 20">
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                        </path>
                    </svg>
                </h4>
                <form action="/crm/cstChance/getfilterChance/1/10">
                    <label>
                        <span>
                            原始负责人
                        </span>
                        <input class="oldSaler" name="userId" type="text" value="1"/>
                    </label>
                    <div class="oldSalerSearch">
                        <label>
                            <input placeholder="请输入销售员名字" type="text"/>
                        </label>
                        <ul>
                            <span>
                                +
                            </span>
                            A区
                            <li th:each="cstChancesPageList:${cstChancesPageList.List}">
                                <p th:text="${cstChancesPageList.sysUser.userName}">
                                </p>
                            </li>
                        </ul>
                        <ul>
                            <span>
                                +
                            </span>
                            B区
                            <li th:each="cstChancesPageList:${cstChancesPageList.List}">
                                <p th:text="${cstChancesPageList.sysUser.userName}">
                                </p>
                            </li>
                        </ul>
                    </div>
                    <label>
                        <span>
                            新负责人
                        </span>
                        <input class="newSaler" name="userToId" type="text" value="3"/>
                    </label>
                    <div class="newSalerSearch">
                        <label>
                            <input placeholder="请输入销售员名字" type="text"/>
                        </label>
                        <ul>
                            <span>
                                +
                            </span>
                            A区
                            <li th:each="SysUser:${SysUserList}">
                                <p th:text="${SysUser.userName}">
                                </p>
                            </li>
                        </ul>
                        <ul>
                            <span>
                                +
                            </span>
                            B区
                            <li th:each="SysUser:${SysUserList}">
                                <p th:text="${SysUser.userName}">
                                </p>
                            </li>
                        </ul>
                    </div>
                    <label>
                        <span>
                            客户名称
                        </span>
                        <input name="custCompany" type="text"/>
                    </label>
                    <label>
                        <span>
                            阶段
                        </span>
                        <select name="chStage">
                            <option value="初期沟通">
                                初期沟通
                            </option>
                            <option value="理想评估">
                                理想评估
                            </option>
                            <option value="需求分析">
                                需求分析
                            </option>
                            <option value="方案制定">
                                方案制定
                            </option>
                            <option value="竞标中">
                                竞标中
                            </option>
                            <option value="商务谈判">
                                商务谈判
                            </option>
                            <option value="合同签订">
                                合同签订
                            </option>
                        </select>
                    </label>
                    <label>
                        <span>
                            当前步骤
                        </span>
                        <select name="chStatus">
                            <option value="审核中">
                                审核中
                            </option>
                        </select>
                    </label>
                    <label class="day" for="day">
                        创建日期
                        <input id="day" name="begindate" placeholder="年/月/日" type="text"/>
                    </label>
                    <label class="hour" for="hour">
                        <input id="hour" name="finishdate" placeholder="00:00-00:00" type="text"/>
                    </label>
                    <div class="btngroup">
                        <input class="sure" type="submit" value="确定"/>
                        <input class="cancel" type="button" value="取消"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="leftContent">
            <div class="logo">
                <img alt="logo" th:src="@{/img/logo.png}"/>
                <span class="logoTxt">
                    润普CRM
                </span>
            </div>
            <ul>
                <li>
                    <a th:href="@{/getTaskListByUserId}">
                        <img alt="首页" th:src="@{/img/index.png}"/>
                        <span class="navTxt">
                            首页
                        </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/cstCustomer/getPage/1/7}">
                        <img alt="公海" th:src="@{/img/seas.png}"/>
                        <span class="navTxt">
                            公海
                        </span>
                    </a>
                </li>
                <li class="active">
                    <a th:href="@{'/cstChance/getCstChance/'+${cstChancesPageList.currentPage}+'/'+${cstChancesPageList.pageSize}}">
                        <img alt="机会" th:src="@{/img/chance.png}"/>
                        <span class="navTxt">
                            机会
                        </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/contract.html}">
                        <img alt="合同" th:src="@{/img/contract.png}"/>
                        <span class="navTxt">
                            合同
                        </span>
                    </a>
                </li>
                <li>
                    <img alt="财务" th:src="@{/img/financial.png}"/>
                    <span class="navTxt">
                        财务
                    </span>
                </li>
                <li>
                    <img alt="支持" th:src="@{/img/support.png}"/>
                    <span class="navTxt">
                        支持
                    </span>
                </li>
                <li>
                    <img alt="设置" th:src="@{/img/setting.png}"/>
                    <span class="navTxt">
                        设置
                    </span>
                </li>
            </ul>
        </div>
        <div class="rightContent">
            <div class="header">
                <div>
                    <form action="/crm/cstChance/getCstChance/1/10">
                        <input class="custCompany" name="custCompany" placeholder="请输入客户名称" type="text"/>
                        <button class="but" type="submit">
                            <img alt="" th:src="@{/img/searchIcon.png}"/>
                        </button>
                    </form>
                    <div class="mail">
                        <span class="msgNum">
                            1
                        </span>
                        <div>
                            <ul>
                                <li>
                                    <a href="">
                                        聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        聂宇豪创建了新
                                    </a>
                                </li>
                            </ul>
                            <p class="lookMore">
                                <a class="grey" href="">
                                    查看更多
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="user">
                        <span class="userName">
                            聂宇豪
                        </span>
                        <span class="xiala">
                            <img th:src="@{/img/xiala.png}"/>
                        </span>
                        <ul class="detail">
                            <li>
                                <a class="personData">
                                    个人资料
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    系统设置
                                </a>
                            </li>
                            <li>
                                <a class="loginOut">
                                    退出
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main">
                <div>
                    <div class="refferalHeader">
                        <div class="fleft">
                            <div class="tag">
                                转交客户
                                <ul class="dnone">
                                    <li>
                                        <a th:href="@{'/cstChance/getCstChance/'+${cstChancesPageList.currentPage}+'/'+${cstChancesPageList.pageSize}}">
                                            我的机会
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            全部机会
                                        </a>
                                    </li>
                                    <li>
                                        <a style="color: #7460ee;" th:href="@{'/cstChance/getCstChanceUserId/'+${cstChancesPageList.currentPage}+'/'+${cstChancesPageList.pageSize}}">
                                            转交客户
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <p class="customerNum">
                                <span>
                                    1000
                                </span>
                                条客户信息
                            </p>
                        </div>
                        <div class="fright" style="margin-top: 10px;">
                            <button class="filter">
                                <img th:src="@{/img/filter.png}"/>
                                筛选
                            </button>
                            <a class="createZhuanjiao">
                                <img th:src="@{/img/addCustomer.png}"/>
                                新建转交
                            </a>
                        </div>
                    </div>
                    <div class="allOperate dnone">
                        <label class="forCheckbox">
                            <input type="checkbox"/>
                        </label>
                        <button class="delete">
                            <img th:src="@{/img/delete.png}"/>
                            删除
                        </button>
                        <button class="edit">
                            <img th:src="@{/img/edit.png}"/>
                            编辑
                        </button>
                        <button>
                            <img th:src="@{/img/chancePurple.png}"/>
                            转交机会
                        </button>
                    </div>
                    <div class="chanceContent">
                        <table class="table table-hover" id="table">
                            <thead>
                                <tr>
                                    <th data-field="select" style="">
                                        <div class="th-inner ">
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="origin" data-field="origin" style="">
                                        <div class="th-inner ">
                                            原始负责人
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="newMan" data-field="newMan" style="">
                                        <div class="th-inner ">
                                            新负责人
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="client" data-field="client" style="">
                                        <div class="th-inner ">
                                            客户
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="stage" data-field="stage" style="">
                                        <div class="th-inner ">
                                            阶段
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="current" data-field="current" style="">
                                        <div class="th-inner ">
                                            当前步骤
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th class="createTime" data-field="createTime" style="">
                                        <div class="th-inner ">
                                            创建时间
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                    <th data-field="operate" style="">
                                        <div class="th-inner ">
                                        </div>
                                        <div class="fht-cell">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:data-index="cstChancesPageList.chId" th:each="cstChancesPageList:${cstChancesPageList.List}">
                                    <td>
                                        <label class="forCheckbox">
                                            <input type="checkbox"/>
                                        </label>
                                    </td>
                                    <td class="origin" style="">
                                        <input th:value="${cstChancesPageList.chId}" type="hidden"/>
                                        <p th:text="${cstChancesPageList.sysUser.userName}">
                                        </p>
                                    </td>
                                    <td class="newMan" style="">
                                        <input th:value="${cstChancesPageList.userToId}" type="hidden"/>
                                        <p th:text="${cstChancesPageList.userToId}">
                                        </p>
                                    </td>
                                    <td class="client" style="">
                                        <p th:text="${cstChancesPageList.chCustomer.custCompany}">
                                        </p>
                                        <span>
                                            · · ·
                                        </span>
                                    </td>
                                    <td class="stage" style="">
                                        <ul>
                                            <li>
                                                <p th:text="${cstChancesPageList.chStage}">
                                                </p>
                                            </li>
                                        </ul>
                                        <span>
                                            · · ·
                                        </span>
                                    </td>
                                    <td class="current" style="">
                                        <p th:text="${cstChancesPageList.chStatus}">
                                        </p>
                                        <p th:text="${cstChancesPageList.chExamine}">
                                        </p>
                                    </td>
                                    <td class="createTime" style="">
                                        <p th:text="${cstChancesPageList.TransferTime}">
                                        </p>
                                    </td>
                                    <td style="">
                                        <button class="shenpi">
                                            审批
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="height: 100px;">
                        </div>
                        <div class="fixed-table-pagination">
                            <div class="pull-right pagination">
                                <ul class="pagination">
                                    <li class="page-first">
                                        <a th:href="@{/cstChance/getCstChanceUserId/1/10}">
                                            首页
                                        </a>
                                    </li>
                                    <li class="page-pre">
                                        <a th:href="@{'/cstChance/getCstChanceUserId/'+${((cstChancesPageList.currentPage-1) le 0?1:(cstChancesPageList.currentPage-1))}+'/'+${cstChancesPageList.pageSize}}">
                                            上一页
                                        </a>
                                    </li>
                                    <li class="page-number" th:each="arr:${arrList}">
                                        <a th:href="@{'/cstChance/getCstChanceUserId/1/'+${arr}+'/'+${cstChancesPageList.pageSize}}" th:text="${arr}">
                                        </a>
                                    </li>
                                    <li class="page-next">
                                        <a th:href="@{'/cstChance/getCstChanceUserId/'+${((cstChancesPageList.currentPage+1) ge (cstChancesPageList.totalPage)?(cstChancesPageList.totalPage):(cstChancesPageList.currentPage+1))}+'/'+${cstChancesPageList.pageSize}}">
                                            下一页
                                        </a>
                                    </li>
                                    <li class="page-last">
                                        <a th:href="@{'/cstChance/getCstChanceUserId/'+${cstChancesPageList.totalPage}+'/'+${cstChancesPageList.pageSize}}">
                                            尾页
                                        </a>
                                    </li>
                                </ul>
                                <div class="jump">
                                    <label>
                                        跳转
                                        <select>
                                            <option th:each="arr:${arrList}" th:value="${arr}">
                                                <a th:href="@{'/cstChance/getCstChanceUserId/1/'+${arr}+'/'+${cstChancesPageList.pageSize}}" th:text="${arr}">
                                                </a>
                                            </option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>