<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>客户关系管理系统</title>
	<script th:src="@{/js/jquery-1.8.3.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap-table.js}"></script>
	<script th:src="@{/js/jquery.nicescroll.js}"></script>
  
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{/css/default.css}"/>
  <link rel="stylesheet" th:href="@{/css/seas.css}"/>
  <script th:src="@{/js/default.js}"></script>
  <script th:src="@{/js/seas.js}"></script>
</head>
<body>
	<div class="filterPop dnone" style="font-size: 14px;">
		<div class="shelter"></div>
		<div class="filtermain">
			<h4>高级筛选</h4>
			<form>
				<div class="itemgroup">
					<select class="col_1">
						<option>客户名称</option>
						<option>标签</option>
						<option>地区</option>
						<option>联系人</option>
						<option>联系方式</option>
					</select>
					<select class="col_2">
						<option>包含</option>
						<option>不包含</option>
					</select>
					<input type="text" class="col_3"/>
				</div>
				<div class="itemgroup">
					<select class="col_1">
						<option>标签</option>
						<option>客户名称</option>
						<option>地区</option>
						<option>联系人</option>
						<option>联系方式</option>
					</select>
					<select class="col_4">
						<option></option>
						<option></option>
					</select>
				</div>
				<div class="itemgroup">
					<select class="col_1">
						<option>地区</option>
						<option>客户名称</option>
						<option>标签</option>
						<option>联系人</option>
						<option>联系方式</option>
					</select>
					<select class="col_4">
						<option></option>
						<option></option>
					</select>
				</div>
				<p class="addCondition">+添加筛选条件</p>
				<div class="btngroup">
					<input type="button" class="sure" value="确定"/>
					<input type="button" class="cancel" value="取消"/>
				</div>
			</form>
		</div>
	</div>
	<div class="leftContent">
		<div class="logo">
			<img th:src="@{/img/logo.png}" alt="logo"/>
			<span class="logoTxt">润普CRM</span>
		</div>
		<ul>
			<li><a href="index.html"><img th:src="@{/img/index.png}" alt="首页"/><span class="navTxt">首页</span></a></li>
			<li class="active"><a href="seas.html"><img th:src="@{/img/seas.png}" alt="公海"/><span class="navTxt">公海</span></a></li>
			<li><a href="chance.html"><img th:src="@{/img/chance.png}" alt="机会"/><span class="navTxt">机会</span></a></li>
			<li><img th:src="@{/img/contract.png}" alt="合同"/><span class="navTxt">合同</span></li>
			<li><img th:src="@{/img/financial.png}" alt="财务"/><span class="navTxt">财务</span></li>
			<li><img th:src="@{/img/support.png}" alt="支持"/><span class="navTxt">支持</span></li>
			<li><img th:src="@{/img/setting.png}" alt="设置"/><span class="navTxt">设置</span></li>
		</ul>
	</div>
	<div class="rightContent">
		<div class="header">
			<div>
				<input type="text" placeholder="请输入客户名称"/>
				<button><img th:src="@{/img/searchIcon.png}" alt=""/></button>
				<div class="mail">
					<span class="msgNum">1</span>
					<div>
						<ul>
							<li><a href="">聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊</a></li>
							<li><a href="">聂宇豪创建了新的合同需要审核通过啊啊啊啊啊啊啊啊啊</a></li>
							<li><a href="">聂宇豪创建了新</a></li>
						</ul>
						<p class="lookMore"><a href="" class="grey">查看更多</a></p>
					</div>
				</div>
				<div class="user">
					<span class="userName">聂宇豪</span>
					<span class="xiala"><img th:src="@{/img/xiala.png}"/></span>
					<ul class="detail">
						<li><a href="">个人资料</a></li>
						<li><a href="">系统设置</a></li>
						<li><a href="">退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main">
      <div>
        <div class="seasHeader">
          <div class="fleft">
            <p class="tag">公海</p>
            <!-- <ul class="dnone">
              <li></li>
              <li></li>
              <li></li>
            </ul> -->
            <p class="customerNum"><span>1000</span>条客户信息</p>
          </div>
          <div class="fright">
            <button class="filter"><img th:src="@{/img/filter.png}"/> 筛选</button>
            <button><a href="addNewCustomer.html"><img th:src="@{/img/addCustomer.png}"/> 新建客户</a></button>
            <button class="moreOperate">&nbsp;· · ·&nbsp;</button>
          </div>
        </div>
        <div class="allOperate dnone">
          <label class="forCheckbox"><input type="checkbox"/></label>
          <button><img th:src="@{/img/claim.png}"/>&nbsp;认领</button>
		  <button><img th:src="@{/img/claim.png}"/>&nbsp;分配</button>
		  <button class="delete"><img th:src="@{/img/delete.png}"/>&nbsp;删除</button>
          <button class="edit"><img th:src="@{/img/edit.png}"/>&nbsp;编辑</button>
        </div>
        <div class="seasContent">
          <table id="table"></table>
          <!-- <nav aria-label="Page navigation">
          	<ul class="pagination">
          		<li class="page-first"><a href="#">首页</a></li>
          		<li class="page-pre"><a href="#">上一页</a></li>
          		<li class="page-first"><a href="#">1</a></li>
          		<li class="page-first-separator disabled"><a href="#">...</a></li>
          		<li class="page-number"><a href="#">4</a></li>
          		<li class="page-number active"><a href="#">5</a></li>
          		<li class="page-number"><a href="#">6</a></li>
          		<li class="page-last-separator disabled"><a href="#">...</a></li>
          		<li class="page-last"><a href="#">1000</a></li>
          		<li class="page-next"><a href="#">下一页</a></li>
          		<li class="page-first"><a href="#">尾页</a></li>
          	</ul>
          </nav> -->
        </div>
      </div>
		</div>
	</div>
</body>
</html>