.seasHeader { overflow: hidden; height: 50px; padding: 0 30px; }
.allOperate { clear: both; margin: 0 30px 20px;}
.seasContent { clear: both; margin: 0 30px 30px; background: #fff}

.seasHeader .fleft p { display: inline-block; line-height: 50px; }
.seasHeader .tag { font-size: 18px; color: #7460ee; }
.seasHeader .customerNum { color: #999; }
.seasHeader .fright button,.allOperate button { height: 30px; border: 1px solid #7460ee; background: none; border-radius: 4px; color: #7460ee; margin-top: 10px; }
.seasHeader .fright button.moreOperate { background: #7460ee; color: #fff; font-weight: 900; padding: 0; }
.seasHeader .fright button a { color: #7460ee; }

.allOperate label{ vertical-align: middle }
.allOperate button { margin-left: 10px; }
nav { text-align: center; }
.pagination > li > a, .pagination > li > span { margin-left: 10px;}
.pagination > li:first-child > a, .pagination > li:first-child > span {border-radius: 0;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-radius: 0;}

div.fixed-table-pagination { text-align: center }
div.pull-left.pagination-detail { display: none; }
div.pull-right.pagination { float: none !important; text-align: center; margin: 0 auto; display: inline-block !important; }

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td { vertical-align: middle; }
.table { margin-bottom: 0; }


.modify { position: relative; }
.modify:hover+ul { display: block; }
.modify+ul:hover { display: block; }
.modify+ul { position: absolute; display: none; background: #fff; width: 50px; text-align: center; z-index: 2; }
.modify+ul li { height: 30px; line-height: 30px; }

.filterPop { height: 100%; width: 100%; position: absolute; background: rgba(0, 0, 0, .5); z-index: 2; }
/* .filterPop .shelter {  } */
.filterPop .filtermain { width: 600px; min-height: 350px; background: #fff; position: absolute; left: 50%; margin-left: -300px; top: 50%; margin-top: -175px; }
.filterPop h4 { height: 40px; width: 100%; line-height: 40px; background: #7460ee; color: #fff; padding: 0 20px; }
.filterPop .itemgroup { margin-top: 20px; padding-left: 20px; }

.filterPop .col_1 { width: 160px; height: 30px; margin-right: 15px; }
.filterPop .col_2 { width: 100px; height: 30px; margin-right: 15px; }
.filterPop .col_3 { width: 258px; height: 30px;}
.filterPop .col_4 { width: 380px; height: 30px;}

.filterPop .addCondition { margin: 20px; color: #7469ee; font-size: 16px; }
.filterPop .btngroup input { width: 100px; height: 30px; border: 1px solid #7460ee; border-radius: 4px; background: #7460ee; color: #fff; margin-bottom: 20px; }
.filterPop .btngroup input.cancel { color: #7460ee; background: #fff; margin-right: 140px; float: right; }
.filterPop .btngroup input.sure { margin-left: 140px; }






