<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easyui.min.js"></script>
</head>
<body>
<div class="easyui-layout" fit="true">
    <div region="center" border="false" style="padding:5px;background:#fff;border:1px solid #ccc;">
        <form action="${pageContext.request.contextPath}/login" th:method="post">
            <div style="padding:5px 0;">
                <label>帐号:</label>
                <input id="userId" th:type="text" th:name="username" th:value="admin"  style="width:260px;" />
            </div>
            <div style="padding:5px 0;">
                <label>密码:</label>
                <input id="pwd" th:type="password" th:name="password" th:value="admin" />
            </div>
            <input th:type="submit" th:value="提交"/>
        </form>
    </div>
</div>
</body>
</html>
