<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.customer.dao.CstCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.CstCustomer" >
    <id column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="cust_email" property="custEmail" jdbcType="VARCHAR" />
    <result column="cust_company" property="custCompany" jdbcType="VARCHAR" />
    <result column="cust_address" property="custAddress" jdbcType="VARCHAR" />
    <result column="cust_industry" property="custIndustry" jdbcType="VARCHAR" />
    <result column="cust_pic" property="custPic" jdbcType="VARCHAR" />
    <result column="cust_sales" property="custSales" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="cust_classify" property="custClassify" jdbcType="INTEGER" />
    <result column="cust_content" property="custContent" jdbcType="VARCHAR" />
    <result column="cust_lifecycle" property="custLifecycle" jdbcType="VARCHAR" />
    <result column="cust_website" property="custWebsite" jdbcType="VARCHAR" />
    <result column="cust_type" property="custType" jdbcType="VARCHAR" />
      <!--客户表和标签表之间的关联-->
      <collection property="labelList" ofType="com.crm.entity.CstLabel">
          <id column="label_id" property="labelId" jdbcType="INTEGER" />
          <result column="label_name" property="labelName" jdbcType="VARCHAR" />
          <result column="user_id" property="userId" jdbcType="BIGINT" />
      </collection>
      <!--客户表与下级客户表之间的关联-->
      <collection property="lowCustomerList" ofType="com.crm.entity.CstLowCustomer">
          <id column="low_cust_id" property="lowCustId" jdbcType="BIGINT" />
          <result column="high_cust_id" property="highCustId" jdbcType="BIGINT" />
          <result column="cust_company" property="custCompany" jdbcType="VARCHAR" />
          <result column="cust_id" property="custId" jdbcType="BIGINT" />
      </collection>
      <!--客户表和联系人表的关联-->
      <collection property="linkmanList" ofType="com.crm.entity.ChLinkman">
          <id column="link_id" property="linkId" jdbcType="BIGINT" />
          <result column="link_name" property="linkName" jdbcType="VARCHAR" />
          <result column="link_phone" property="linkPhone" jdbcType="VARCHAR" />
          <result column="link_landline_phone" property="linkLandlinePhone" jdbcType="VARCHAR" />
          <result column="link_email" property="linkEmail" jdbcType="VARCHAR" />
          <result column="link_qq" property="linkQq" jdbcType="VARCHAR" />
          <result column="link_wechat" property="linkWechat" jdbcType="VARCHAR" />
          <result column="link_status" property="linkStatus" jdbcType="INTEGER" />
          <result column="ch_id" property="chId" jdbcType="BIGINT" />
          <result column="link_department" property="linkDepartment" jdbcType="VARCHAR" />
          <result column="link_position" property="linkPosition" jdbcType="VARCHAR" />
          <result column="cust_id" property="custId" jdbcType="BIGINT" />
      </collection>
  </resultMap>

  <select id="findById" parameterType="Long" resultMap="BaseResultMap">
    SELECT * FROM cst_customer WHERE cust_id=#{id}
  </select>
  <insert id="addCstCustomer" parameterType="CstCustomer">
    INSERT INTO cst_customer (cust_name,cust_phone,cust_email,cust_company,cust_address,cust_industry,cust_pic,cust_sales,user_id,`type`)
 VALUES (#{custName},#{custPhone},#{custEmail},#{custCompany},#{custAddress},#{custIndustry},#{custPic},#{custSales},#{userId},#{type})
  </insert>
  <delete id="deleteById" parameterType="Long">
     DELETE FROM cst_customer WHERE cust_id=#{id}
  </delete>
  <update id="updateCstCustomerById" parameterType="CstCustomer">
 UPDATE cst_customer SET cust_name=#{custName},cust_phone=#{custPhone},cust_email=#{custEmail},cust_company=#{custCompany},cust_address=#{custAddress},cust_industry=#{custIndustry},cust_pic=#{custPic},cust_sales=#{custSales},user_id=#{userId},`type`=#{type} WHERE cust_id=#{custId}
  </update>
    <!--修改客户表的用户id -->
    <update id="updateCstCustomer" parameterType="cst">
        update cst_customer set user_id=#{userId} where cust_id=#{custId}
    </update>


</mapper>