<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.customer.dao.CstLabelMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.CstLabel" >
    <id column="label_id" property="labelId" jdbcType="INTEGER" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <collection property="customerList" ofType="com.crm.entity.CstCustomer">
      <!--标签表与 客户表的关联 -->
      <id column="cust_id" property="custId" jdbcType="BIGINT" />
      <result column="cust_email" property="custEmail" jdbcType="VARCHAR" />
      <result column="cust_company" property="custCompany" jdbcType="VARCHAR" />
      <result column="cust_address" property="custAddress" jdbcType="VARCHAR" />
      <result column="cust_industry" property="custIndustry" jdbcType="VARCHAR" />
      <result column="cust_pic" property="custPic" jdbcType="VARCHAR" />
      <result column="cust_sales" property="custSales" jdbcType="VARCHAR" />
      <result column="user_id" property="userId" jdbcType="BIGINT" />
      <result column="cust_classify" property="custClassify" jdbcType="INTEGER" />
      <result column="cust_content" property="custContent" jdbcType="VARCHAR" />
      <result column="cust_lifecycle" property="custLifecycle" jdbcType="VARCHAR" />
      <result column="cust_website" property="custWebsite" jdbcType="VARCHAR" />
      <result column="cust_type" property="custType" jdbcType="VARCHAR" />
      <result column="cust_date" property="custDate" jdbcType="TIMESTAMP" />
    </collection>
  </resultMap>
  <select id="findById" parameterType="Long" resultMap="BaseResultMap">
    SELECT * FROM cst_label WHERE label_id=#{id}
  </select>
  <insert id="addCstLabel" parameterType="CstLabel">
    INSERT INTO cst_label (label_name,user_id)
    VALUES (#{labelName},#{userId})
  </insert>
  <delete id="deleteById" parameterType="Long">
    DELETE FROM cst_label WHERE label_id=#{id}
  </delete>
  <update id="updateCstLabelById" parameterType="CstLabel">
    UPDATE cst_label SET label_name=#{labelName},user_id=#{userId} WHERE label_id=#{label_id}
  </update>

  <!--认领公海客户添加标签-->
  <insert id="saveCstLabel" parameterType="map" useGeneratedKeys="true" keyProperty="cstLabel.labelId">
      INSERT INTO cst_label (label_name,user_id) VALUES (#{cstLabel.labelName},#{userId})
  </insert>
</mapper>