<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.customer.dao.CstLowCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.CstLowCustomer" >
    <id column="low_id" property="lowId" jdbcType="BIGINT" />
    <result column="high_id" property="highId" jdbcType="BIGINT" />
    <result column="cust_low_company" property="custLowCompany" jdbcType="VARCHAR" />
    <result column="cust_low_id" property="custLowId" jdbcType="BIGINT" />
  </resultMap>
  <select id="findById" parameterType="Long" resultMap="BaseResultMap">
    SELECT * FROM cst_low_customer WHERE low_id=#{id}
  </select>
  <insert id="addCstLowCustomer" parameterType="CstLowCustomer">
    INSERT INTO cst_low_customer (high_id,cust_low_company,cust_low_id)
    VALUES (#{highId},#{custLowCompany},#{custLowId})
  </insert>
  <delete id="deleteById" parameterType="Long">
    DELETE FROM cst_low_customer WHERE low_id=#{id}
  </delete>
  <update id="updateCstLowCustomerById" parameterType="CstLowCustomer">
    UPDATE cst_low_customer SET high_id=#{highId},cust_low_company=#{custLowCompany},cust_low_id=#{custLowId} WHERE low_id=#{lowId}
  </update>
  <!--认领的公海客户添加下级客户-->
  <insert id="saveCstLowCustomerInfo" parameterType="CstLowCustomer">
      INSERT INTO cst_low_customer (high_id,cust_low_company,cust_low_id) VALUES (#{highId},#{custLowCompany},#{custLowId})
  </insert>
</mapper>