<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.customer.dao.CstLowCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.CstLowCustomer" >
    <id column="low_cust_id" property="lowCustId" jdbcType="BIGINT" />
    <result column="high_cust_id" property="highCustId" jdbcType="BIGINT" />
    <result column="cust_company" property="custCompany" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    low_cust_id, high_cust_id, cust_company, cust_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.crm.entity.CstLowCustomerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cst_low_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cst_low_customer
    where low_cust_id = #{lowCustId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cst_low_customer
    where low_cust_id = #{lowCustId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.crm.entity.CstLowCustomerExample" >
    delete from cst_low_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crm.entity.CstLowCustomer" >
    insert into cst_low_customer (low_cust_id, high_cust_id, cust_company, 
      cust_id)
    values (#{lowCustId,jdbcType=BIGINT}, #{highCustId,jdbcType=BIGINT}, #{custCompany,jdbcType=VARCHAR}, 
      #{custId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.entity.CstLowCustomer" >
    insert into cst_low_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lowCustId != null" >
        low_cust_id,
      </if>
      <if test="highCustId != null" >
        high_cust_id,
      </if>
      <if test="custCompany != null" >
        cust_company,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lowCustId != null" >
        #{lowCustId,jdbcType=BIGINT},
      </if>
      <if test="highCustId != null" >
        #{highCustId,jdbcType=BIGINT},
      </if>
      <if test="custCompany != null" >
        #{custCompany,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crm.entity.CstLowCustomerExample" resultType="java.lang.Integer" >
    select count(*) from cst_low_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cst_low_customer
    <set >
      <if test="record.lowCustId != null" >
        low_cust_id = #{record.lowCustId,jdbcType=BIGINT},
      </if>
      <if test="record.highCustId != null" >
        high_cust_id = #{record.highCustId,jdbcType=BIGINT},
      </if>
      <if test="record.custCompany != null" >
        cust_company = #{record.custCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cst_low_customer
    set low_cust_id = #{record.lowCustId,jdbcType=BIGINT},
      high_cust_id = #{record.highCustId,jdbcType=BIGINT},
      cust_company = #{record.custCompany,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.entity.CstLowCustomer" >
    update cst_low_customer
    <set >
      <if test="highCustId != null" >
        high_cust_id = #{highCustId,jdbcType=BIGINT},
      </if>
      <if test="custCompany != null" >
        cust_company = #{custCompany,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
    </set>
    where low_cust_id = #{lowCustId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.entity.CstLowCustomer" >
    update cst_low_customer
    set high_cust_id = #{highCustId,jdbcType=BIGINT},
      cust_company = #{custCompany,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=BIGINT}
    where low_cust_id = #{lowCustId,jdbcType=BIGINT}
  </update>
</mapper>