<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.customer.dao.CstRecordMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.CstRecord" >
    <id column="re_id" property="reId" jdbcType="BIGINT" />
    <result column="re_content" property="reContent" jdbcType="VARCHAR" />
    <result column="ch_id" property="chId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="re_date" property="reDate" jdbcType="TIMESTAMP" />
    <!--记录表和附件表的关联-->
    <collection property="attachmentList" ofType="com.crm.entity.SysAttachment">
      <id column="atta_id" property="attaId" jdbcType="BIGINT" />
      <result column="atta_classify" property="attaClassify" jdbcType="INTEGER" />
      <result column="atta_classify_id" property="attaClassifyId" jdbcType="BIGINT" />
      <result column="atta_name" property="attaName" jdbcType="VARCHAR" />
      <result column="atta_address" property="attaAddress" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <select id="findById" parameterType="Long" resultMap="BaseResultMap">
    SELECT * FROM cst_record WHERE re_id=#{id}
  </select>
  <insert id="addCstRecord" parameterType="CstRecord">
    INSERT INTO cst_record (re_content,cust_id,user_name,re_date)
    VALUES (#{reContent},#{custId},#{userName},#{reDate})
  </insert>
  <delete id="deleteById" parameterType="Long">
    DELETE FROM cst_record WHERE re_id=#{id}
  </delete>
  <update id="updateCstRecordById" parameterType="CstRecord">
    UPDATE cst_record SET re_content=#{reContent},cust_id=#{custId},user_name=#{userName},re_date=#{reDate} WHERE re_id=#{reId}
  </update>

  <!--插入返回id-->
  <insert id="saveCstRecord" parameterType="com.crm.entity.CstRecord" useGeneratedKeys="true" keyProperty="reId">
    INSERT INTO cst_record (re_content,ch_id,user_name,re_date) VALUES (#{reContent},#{chId},#{userName},#{reDate})
  </insert>

    <!--根据机会id查询记录表-->
  <select id="getCstRecord" parameterType="Long"  resultMap="BaseResultMap">
    select * from cst_record  where ch_id=#{chId} ORDER BY re_date DESC
  </select>
  <!--添加记录-->
   <insert id="addRecord" parameterType="CstRecord">
     INSERT INTO cst_record (re_content,ch_id,user_name,re_date)
     VALUES (#{reContent},#{chId},#{userName},#{reDate})
   </insert>
  <!--删除记录-->
   <delete id="deleteCstRecord" parameterType="Long">
     delete from cst_record where  re_id=#{reId}
  </delete>

  <!--根据机会id删除记录-->
  <delete id="deleteCstRecordChId" parameterType="Long">
    delete from cst_record where ch_id=#{chId}
  </delete>

  <!--修改记录-->
  <update id="updateCstRecord" parameterType="CstRecord">
    UPDATE cst_record SET re_content=#{reContent},ch_id=#{chId},user_name=#{userName},re_date=#{reDate} WHERE re_id=#{reId}
  </update>
</mapper>