<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.customer.dao.CstScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.CstSchedule" >
    <id column="sche_id" property="scheId" jdbcType="BIGINT" />
    <result column="sche_type" property="scheType" jdbcType="INTEGER" />
    <result column="sche_time" property="scheTime" jdbcType="TIMESTAMP" />
    <result column="sche_content" property="scheContent" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sche_id, sche_type, sche_time, sche_content, cust_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.crm.entity.CstScheduleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cst_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cst_schedule
    where sche_id = #{scheId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cst_schedule
    where sche_id = #{scheId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.crm.entity.CstScheduleExample" >
    delete from cst_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crm.entity.CstSchedule" >
    insert into cst_schedule (sche_id, sche_type, sche_time, 
      sche_content, cust_id)
    values (#{scheId,jdbcType=BIGINT}, #{scheType,jdbcType=INTEGER}, #{scheTime,jdbcType=TIMESTAMP}, 
      #{scheContent,jdbcType=VARCHAR}, #{custId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.entity.CstSchedule" >
    insert into cst_schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scheId != null" >
        sche_id,
      </if>
      <if test="scheType != null" >
        sche_type,
      </if>
      <if test="scheTime != null" >
        sche_time,
      </if>
      <if test="scheContent != null" >
        sche_content,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scheId != null" >
        #{scheId,jdbcType=BIGINT},
      </if>
      <if test="scheType != null" >
        #{scheType,jdbcType=INTEGER},
      </if>
      <if test="scheTime != null" >
        #{scheTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scheContent != null" >
        #{scheContent,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crm.entity.CstScheduleExample" resultType="java.lang.Integer" >
    select count(*) from cst_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cst_schedule
    <set >
      <if test="record.scheId != null" >
        sche_id = #{record.scheId,jdbcType=BIGINT},
      </if>
      <if test="record.scheType != null" >
        sche_type = #{record.scheType,jdbcType=INTEGER},
      </if>
      <if test="record.scheTime != null" >
        sche_time = #{record.scheTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.scheContent != null" >
        sche_content = #{record.scheContent,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cst_schedule
    set sche_id = #{record.scheId,jdbcType=BIGINT},
      sche_type = #{record.scheType,jdbcType=INTEGER},
      sche_time = #{record.scheTime,jdbcType=TIMESTAMP},
      sche_content = #{record.scheContent,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.entity.CstSchedule" >
    update cst_schedule
    <set >
      <if test="scheType != null" >
        sche_type = #{scheType,jdbcType=INTEGER},
      </if>
      <if test="scheTime != null" >
        sche_time = #{scheTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scheContent != null" >
        sche_content = #{scheContent,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
    </set>
    where sche_id = #{scheId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.entity.CstSchedule" >
    update cst_schedule
    set sche_type = #{scheType,jdbcType=INTEGER},
      sche_time = #{scheTime,jdbcType=TIMESTAMP},
      sche_content = #{scheContent,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=BIGINT}
    where sche_id = #{scheId,jdbcType=BIGINT}
  </update>
</mapper>