<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.customer.dao.CstScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.CstSchedule" >
    <id column="sche_id" property="scheId" jdbcType="BIGINT" />
    <result column="sche_type" property="scheType" jdbcType="INTEGER" />
    <result column="sche_time" property="scheTime" jdbcType="TIMESTAMP" />
    <result column="sche_content" property="scheContent" jdbcType="VARCHAR" />
    <result column="ch_id" property="chId" jdbcType="BIGINT" />
  </resultMap>
  <select id="findById" parameterType="Long" resultMap="BaseResultMap">
    SELECT * FROM cst_schedule WHERE sche_id=#{id}
  </select>
  <insert id="addCstSchedule" parameterType="CstSchedule">
    INSERT INTO cst_schedule (sche_type,sche_time,sche_content,cust_id)
    VALUES (#{scheType},#{scheTime},#{scheContent},#{custId})
  </insert>
  <delete id="deleteById" parameterType="Long">
    DELETE FROM cst_schedule WHERE sche_id=#{id}
  </delete>
  <update id="updateCstScheduleById" parameterType="CstSchedule">
    UPDATE cst_schedule SET sche_type=#{scheType},sche_time=#{scheTime},sche_content=#{scheContent},cust_id=#{custId} WHERE sche_id=#{scheId}
  </update>

  <!--根据机会id查询进度表-->
  <select id="getCstSchedule" parameterType="Long" resultMap="BaseResultMap">
    select *  from cst_schedule  where ch_id=1 ORDER BY sche_time  DESC
  </select>

  <!--根据机会id删除进度-->
  <delete id="deleteCstSchedule" parameterType="Long">
     delete from cst_schedule where ch_id=#{chId}
  </delete>
</mapper>