<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.dynamic.dao.SysDynamicMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.SysDynamic" >
    <id column="dy_id" property="dyId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="dy_content" property="dyContent" jdbcType="VARCHAR" />
    <result column="dy_date" property="dyDate" jdbcType="TIMESTAMP" />
    <result column="dy_classify" property="dyClassify" jdbcType="INTEGER" />
    <result column="dy_classify_id" property="dyClassifyId" jdbcType="BIGINT" />
  </resultMap>
  <select id="findById" parameterType="Long" resultMap="BaseResultMap">
    SELECT * FROM sys_dynamic WHERE dy_id=#{id}
  </select>
  <insert id="addSysDynamic" parameterType="SysDynamic">
    INSERT INTO sys_dynamic (user_id,user_name,dy_content,dy_date,dy_classify,dy_classify_id)
    VALUES (#{userId},#{userName},#{dyContent},#{dyDate},#{dyClassify},#{dyClassifyId})
  </insert>
  <delete id="deleteById" parameterType="Long">
    DELETE FROM sys_dynamic WHERE dy_id=#{id}
  </delete>
  <update id="updateSysDynamicById" parameterType="SysDynamic">
    UPDATE sys_dynamic SET user_id=#{userId},user_name=#{userName},dy_content=#{dyContent},dy_date=#{dyDate},dy_classify=#{dyClassify},dy_classify_id=#{dyClassifyId} WHERE dy_id=#{dyId}
  </update>

</mapper>