<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.sys.dao.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.SysUser" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_accounts" property="userAccounts" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
    <result column="user_department" property="userDepartment" jdbcType="VARCHAR" />
    <result column="user_position" property="userPosition" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_workphone" property="userWorkphone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_name, user_accounts, user_password, user_status, user_department, user_position,
    user_email, user_phone, user_workphone
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.crm.entity.SysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.crm.entity.SysUserExample" >
    delete from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crm.entity.SysUser" >
    insert into sys_user (user_id, user_name, user_accounts,
    user_password, user_status, user_department,
    user_position, user_email, user_phone,
    user_workphone)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userAccounts,jdbcType=VARCHAR},
    #{userPassword,jdbcType=VARCHAR}, #{userStatus,jdbcType=INTEGER}, #{userDepartment,jdbcType=VARCHAR},
    #{userPosition,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR},
    #{userWorkphone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.entity.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userAccounts != null" >
        user_accounts,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="userDepartment != null" >
        user_department,
      </if>
      <if test="userPosition != null" >
        user_position,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userWorkphone != null" >
        user_workphone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccounts != null" >
        #{userAccounts,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userDepartment != null" >
        #{userDepartment,jdbcType=VARCHAR},
      </if>
      <if test="userPosition != null" >
        #{userPosition,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userWorkphone != null" >
        #{userWorkphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crm.entity.SysUserExample" resultType="java.lang.Integer" >
    select count(*) from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userAccounts != null" >
        user_accounts = #{record.userAccounts,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        user_password = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userStatus != null" >
        user_status = #{record.userStatus,jdbcType=INTEGER},
      </if>
      <if test="record.userDepartment != null" >
        user_department = #{record.userDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.userPosition != null" >
        user_position = #{record.userPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null" >
        user_email = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null" >
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userWorkphone != null" >
        user_workphone = #{record.userWorkphone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user
    set user_id = #{record.userId,jdbcType=BIGINT},
    user_name = #{record.userName,jdbcType=VARCHAR},
    user_accounts = #{record.userAccounts,jdbcType=VARCHAR},
    user_password = #{record.userPassword,jdbcType=VARCHAR},
    user_status = #{record.userStatus,jdbcType=INTEGER},
    user_department = #{record.userDepartment,jdbcType=VARCHAR},
    user_position = #{record.userPosition,jdbcType=VARCHAR},
    user_email = #{record.userEmail,jdbcType=VARCHAR},
    user_phone = #{record.userPhone,jdbcType=VARCHAR},
    user_workphone = #{record.userWorkphone,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.entity.SysUser" >
    update sys_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccounts != null" >
        user_accounts = #{userAccounts,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userDepartment != null" >
        user_department = #{userDepartment,jdbcType=VARCHAR},
      </if>
      <if test="userPosition != null" >
        user_position = #{userPosition,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userWorkphone != null" >
        user_workphone = #{userWorkphone,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.entity.SysUser" >
    update sys_user
    set user_name = #{userName,jdbcType=VARCHAR},
    user_accounts = #{userAccounts,jdbcType=VARCHAR},
    user_password = #{userPassword,jdbcType=VARCHAR},
    user_status = #{userStatus,jdbcType=INTEGER},
    user_department = #{userDepartment,jdbcType=VARCHAR},
    user_position = #{userPosition,jdbcType=VARCHAR},
    user_email = #{userEmail,jdbcType=VARCHAR},
    user_phone = #{userPhone,jdbcType=VARCHAR},
    user_workphone = #{userWorkphone,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>

  <select id="selectByAccount" parameterType="String" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from sys_user
  where user_accounts = #{userAccounts}
  </select>

</mapper>