<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.user.dao.UserTaskMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.UserTask" >
    <id column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="task_status" property="taskStatus" jdbcType="INTEGER" />
    <result column="task_content" property="taskContent" jdbcType="VARCHAR" />
    <result column="task_date" property="taskDate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="cst_id" property="cstId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    task_id, task_status, task_content, task_date, user_id, cst_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.crm.entity.UserTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_task
    where task_id = #{taskId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_task
    where task_id = #{taskId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.crm.entity.UserTaskExample" >
    delete from user_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crm.entity.UserTask" >
    insert into user_task (task_id, task_status, task_content, 
      task_date, user_id, cst_id
      )
    values (#{taskId,jdbcType=BIGINT}, #{taskStatus,jdbcType=INTEGER}, #{taskContent,jdbcType=VARCHAR}, 
      #{taskDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{cstId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.entity.UserTask" >
    insert into user_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="taskStatus != null" >
        task_status,
      </if>
      <if test="taskContent != null" >
        task_content,
      </if>
      <if test="taskDate != null" >
        task_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="cstId != null" >
        cst_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="taskStatus != null" >
        #{taskStatus,jdbcType=INTEGER},
      </if>
      <if test="taskContent != null" >
        #{taskContent,jdbcType=VARCHAR},
      </if>
      <if test="taskDate != null" >
        #{taskDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="cstId != null" >
        #{cstId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crm.entity.UserTaskExample" resultType="java.lang.Integer" >
    select count(*) from user_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_task
    <set >
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=BIGINT},
      </if>
      <if test="record.taskStatus != null" >
        task_status = #{record.taskStatus,jdbcType=INTEGER},
      </if>
      <if test="record.taskContent != null" >
        task_content = #{record.taskContent,jdbcType=VARCHAR},
      </if>
      <if test="record.taskDate != null" >
        task_date = #{record.taskDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.cstId != null" >
        cst_id = #{record.cstId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_task
    set task_id = #{record.taskId,jdbcType=BIGINT},
      task_status = #{record.taskStatus,jdbcType=INTEGER},
      task_content = #{record.taskContent,jdbcType=VARCHAR},
      task_date = #{record.taskDate,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=BIGINT},
      cst_id = #{record.cstId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.entity.UserTask" >
    update user_task
    <set >
      <if test="taskStatus != null" >
        task_status = #{taskStatus,jdbcType=INTEGER},
      </if>
      <if test="taskContent != null" >
        task_content = #{taskContent,jdbcType=VARCHAR},
      </if>
      <if test="taskDate != null" >
        task_date = #{taskDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="cstId != null" >
        cst_id = #{cstId,jdbcType=BIGINT},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.entity.UserTask" >
    update user_task
    set task_status = #{taskStatus,jdbcType=INTEGER},
      task_content = #{taskContent,jdbcType=VARCHAR},
      task_date = #{taskDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      cst_id = #{cstId,jdbcType=BIGINT}
    where task_id = #{taskId,jdbcType=BIGINT}
  </update>
</mapper>