<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.biz.user.dao.UserTaskMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.UserTask" >
    <id column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="task_status" property="taskStatus" jdbcType="INTEGER" />
    <result column="task_content" property="taskContent" jdbcType="VARCHAR" />
    <result column="task_date" property="taskDate" jdbcType="TIMESTAMP" />
    <result column="ch_id" property="chId" jdbcType="BIGINT" />
    <association property="chance" column="ch_id" javaType="CstChance">
      <id  property="chId" column="ch_id"/>
      <result property="chContent" column="ch_content"/>
      <result property="custId" column="cust_id"  />
      <result property="chDate"  column="ch_date"  />
      <result property="chMoney" column="ch_money"  />
      <result property="userToId"  column="userTo_id"/>
      <result property="userId" column="user_id"/>
      <result  property="chDept"  column="ch_dept" />
      <result  property="chDoc" column="ch_doc" />
      <result property="chSupplier"  column="ch_supplier" />
      <result  property="chUptime" column="ch_uptime" />
      <result property="chBackground" column="ch_background" />
      <result  property="chIntentionality" column="ch_Intentionality"  />
      <result property="chStage" column="ch_stage"  />
      <result property="chIndication" column="ch_indication" />
      <result  property="chImportance" column="ch_importance" />
      <result property="requirement" column="ch_requirement" />
      <result property="chFollow" column="ch_Follow"/>
      <result property="chTransaction" column="ch_Transaction"/>
      <result property="chLostSingleType" column="ch_LostSingleType"/>
      <result  property="chReasonsForLosingOrders" column="ch_ReasonsForLosingOrders"/>
      <result property="chStatus" column="ch_status"/>
      <result  property="TransferTime" column="ch_TransferTime" />
      <result  property="chExamine" column="ch_examine"/>
      <association property="sysUser" column="user_id" javaType="SysUser">
        <id property="userId" column="user_id"/>
        <result  property="roleId" column="role_id"/>
        <result  property="userName" column="user_name"/>
        <result  property="userAccounts" column="user_accounts"/>
        <result  property="userPassword" column="user_password"/>
        <result  property="userStatus" column="user_status"/>
        <result  property="userDepartment" column="user_department"/>
        <result  property="userPosition" column="user_position"/>
        <result  property="userEmail" column="user_email"/>
        <result  property="userPhone" column="user_phone"/>
        <result  property="userWorkphone" column="user_workphone"/>
        <result  property="userState"  column="user_state"/>
      </association>
    </association>
  </resultMap>
  <select id="findById" parameterType="Long" resultMap="BaseResultMap">
    SELECT * FROM user_task WHERE task_id=#{id}
  </select>
  <delete id="deleteById" parameterType="Long">
    DELETE FROM user_task WHERE task_id=#{id}
  </delete>
  <update id="updateUserTaskById" parameterType="UserTask">
    UPDATE user_task SET task_status=#{taskStatus},task_content=#{taskContent},task_date=#{taskDate},user_id=#{userId},cst_id=#{cstId} WHERE task_id=#{taskId}
  </update>


  <!--按机会id查询任务表-->
  <select id="getUserTask" parameterType="Long" resultMap="BaseResultMap">
     select u.*,c.user_id,y.user_name from user_task u,cst_chance c,sys_user y where u.ch_id=#{chId} and u.ch_id=c.ch_id and c.user_id=y.user_id
  </select>

  <!--添加一条任务-->
  <insert id="addUserTask" parameterType="userTask">
    INSERT INTO user_task (task_status,task_content,task_date,user_id,ch_id)
    VALUES (#{taskStatus},#{taskContent},#{taskDate},#{userId},#{chId})
  </insert>

  <!--按任务id删除任务-->
   <delete id="deleteUserTask" parameterType="Long">
      delete from user_task where task_id =#{taskId}
   </delete>

  <!--按机会id来删除任务表-->
  <delete id="deleteUserTaskChId" parameterType="Long">
    delete from user_task where ch_id=#{chId}
  </delete>

  <!--按任务id修改一条任务-->
  <update id="updateUserTask" parameterType="UserTask">
    UPDATE user_task SET task_status=#{taskStatus},task_content=#{taskContent},task_date=#{taskDate},user_id=#{userId},ch_id=#{chId} WHERE task_id=#{taskId}
  </update>

  <!--修改任务的状态（未完成任务改为已完成）-->
  <update id="updateUserTasktaskStatus" parameterType="Long">
     update user_task set task_status=1 where task_id=#{taskId}
  </update>
</mapper>